.PlanPage {
  text-align: center;
  display: block;
}

.PlanList {
  display: block;
  font-family: 'Patua One', cursive;
  border: solid;
  padding: 20px;
  margin: 20px;
  opacity: 0.9;
  background-color: rgb(67, 125, 164);
  color: rgb(129, 232, 113);
}

.Link {
  color: white;
  text-align: center;
  text-decoration: none;
}

.PlanLayout {
  border: solid black;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.PlanPage--title {
  color: #111; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; line-height: 1; 
  text-align: center;
}

.selected-plan {
  margin: 10px;
}

.EnergyLogo {
  display: block;
  width: 25px;
  height: 25px;
}