.App {

}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  opacity: 0.9;
  background-color: rgb(67, 125, 164);
  height: 170px;
  padding: 20px;
  color: rgb(129, 232, 113);
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.Welcome {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2em;
}

.ZipLink {
  text-align: center;
  opacity: 0.9;
  background-color: rgb(67, 125, 164);
  height: 10px;
  width: 100px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.Login {
  text-align: center;
  opacity: 0.9;
  background-color: rgb(67, 125, 164);
  height: 10px;
  width: 100px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.Plans {
  text-align: center;
  opacity: 0.9;
  background-color: rgb(67, 125, 164);
  height: 10px;
  width: 100px;
  padding: 20px;
  color: rgb(0, 0, 0);
}